{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/skutskaya.mastervision.su/runic-mantika",
      "timeout": 10000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1576329509903.4392,
          "date": "2020-07-23T08:27:25.522Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1576329509905.4392,
          "date": "2020-07-23T08:27:25.992Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1595511687559.631,
          "ctimeMs": 1595511687559.631,
          "date": "2020-07-23T13:41:37.765Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1595511958234.1975,
          "ctimeMs": 1595511958234.1975,
          "date": "2020-07-23T13:46:07.722Z"
        },
        {
          "file": "fonts/Gilroy.eot",
          "mtimeMs": 1595075583777.7095,
          "ctimeMs": 1595075583777.7095,
          "date": "2020-07-23T08:27:28.087Z"
        },
        {
          "file": "fonts/Gilroy.svg",
          "mtimeMs": 1595075584426.909,
          "ctimeMs": 1595075584426.909,
          "date": "2020-07-23T08:27:29.144Z"
        },
        {
          "file": "fonts/Gilroy.ttf",
          "mtimeMs": 1595075583293.052,
          "ctimeMs": 1595075583293.052,
          "date": "2020-07-23T08:27:29.926Z"
        },
        {
          "file": "fonts/Gilroy.woff",
          "mtimeMs": 1595075586481.3508,
          "ctimeMs": 1595075586481.3508,
          "date": "2020-07-23T08:27:30.544Z"
        },
        {
          "file": "fonts/Gilroy.woff2",
          "mtimeMs": 1595075581460.8376,
          "ctimeMs": 1595075581460.8376,
          "date": "2020-07-23T08:27:31.144Z"
        },
        {
          "file": "fonts/GilroyBold.eot",
          "mtimeMs": 1595075584599.5237,
          "ctimeMs": 1595075584599.5237,
          "date": "2020-07-23T08:27:32.015Z"
        },
        {
          "file": "fonts/GilroyBold.svg",
          "mtimeMs": 1595075579747.063,
          "ctimeMs": 1595075579747.063,
          "date": "2020-07-23T08:27:33.299Z"
        },
        {
          "file": "fonts/GilroyBold.ttf",
          "mtimeMs": 1595075580065.7751,
          "ctimeMs": 1595075580065.7751,
          "date": "2020-07-23T08:27:33.979Z"
        },
        {
          "file": "fonts/GilroyBold.woff",
          "mtimeMs": 1595075580094.7932,
          "ctimeMs": 1595075580094.7932,
          "date": "2020-07-23T08:27:34.738Z"
        },
        {
          "file": "fonts/GilroyBold.woff2",
          "mtimeMs": 1595075580365.556,
          "ctimeMs": 1595075580365.556,
          "date": "2020-07-23T08:27:35.278Z"
        },
        {
          "file": "fonts/MontserratBlack.eot",
          "mtimeMs": 1595318778000,
          "ctimeMs": 1595336856273.4004,
          "date": "2020-07-23T08:27:36.462Z"
        },
        {
          "file": "fonts/MontserratBlack.svg",
          "mtimeMs": 1595318778000,
          "ctimeMs": 1595336856267.395,
          "date": "2020-07-23T08:27:37.692Z"
        },
        {
          "file": "fonts/MontserratBlack.ttf",
          "mtimeMs": 1595318778000,
          "ctimeMs": 1595336856261.391,
          "date": "2020-07-23T08:27:38.437Z"
        },
        {
          "file": "fonts/MontserratBlack.woff",
          "mtimeMs": 1595318778000,
          "ctimeMs": 1595336856270.3972,
          "date": "2020-07-23T08:27:39.210Z"
        },
        {
          "file": "fonts/MontserratBlack.woff2",
          "mtimeMs": 1595318780000,
          "ctimeMs": 1595336856275.402,
          "date": "2020-07-23T08:27:39.876Z"
        },
        {
          "file": "fonts/MontserratBold.eot",
          "mtimeMs": 1595318802000,
          "ctimeMs": 1595336870894.1975,
          "date": "2020-07-23T08:27:40.741Z"
        },
        {
          "file": "fonts/MontserratBold.svg",
          "mtimeMs": 1595318802000,
          "ctimeMs": 1595336870872.1855,
          "date": "2020-07-23T08:27:42.233Z"
        },
        {
          "file": "fonts/MontserratBold.ttf",
          "mtimeMs": 1595318802000,
          "ctimeMs": 1595336870865.181,
          "date": "2020-07-23T08:27:43.001Z"
        },
        {
          "file": "fonts/MontserratBold.woff",
          "mtimeMs": 1595318802000,
          "ctimeMs": 1595336870890.195,
          "date": "2020-07-23T08:27:43.781Z"
        },
        {
          "file": "fonts/MontserratBold.woff2",
          "mtimeMs": 1595318804000,
          "ctimeMs": 1595336870895.1985,
          "date": "2020-07-23T08:27:44.457Z"
        },
        {
          "file": "fonts/MontserratRegular.eot",
          "mtimeMs": 1595318816000,
          "ctimeMs": 1595336897970.4226,
          "date": "2020-07-23T08:27:45.538Z"
        },
        {
          "file": "fonts/MontserratRegular.svg",
          "mtimeMs": 1595318816000,
          "ctimeMs": 1595336897963.4182,
          "date": "2020-07-23T08:27:47.335Z"
        },
        {
          "file": "fonts/MontserratRegular.ttf",
          "mtimeMs": 1595318816000,
          "ctimeMs": 1595336897957.4143,
          "date": "2020-07-23T08:27:48.127Z"
        },
        {
          "file": "fonts/MontserratRegular.woff",
          "mtimeMs": 1595318816000,
          "ctimeMs": 1595336897967.421,
          "date": "2020-07-23T08:27:48.881Z"
        },
        {
          "file": "fonts/MontserratRegular.woff2",
          "mtimeMs": 1595318818000,
          "ctimeMs": 1595336897973.4253,
          "date": "2020-07-23T08:27:49.639Z"
        },
        {
          "file": "img/backs/last.png",
          "mtimeMs": 1595504425442.2969,
          "ctimeMs": 1595504425444.2986,
          "date": "2020-07-23T11:41:54.878Z"
        },
        {
          "file": "img/backs/lets.png",
          "mtimeMs": 1595504427328.2214,
          "ctimeMs": 1595504427335.2273,
          "date": "2020-07-23T11:41:55.473Z"
        },
        {
          "file": "img/backs/plan.png",
          "mtimeMs": 1595345195925.1504,
          "ctimeMs": 1595431463446.3757,
          "date": "2020-07-23T08:27:52.207Z"
        },
        {
          "file": "img/backs/rissons.png",
          "mtimeMs": 1595504444676.7808,
          "ctimeMs": 1595504444677.782,
          "date": "2020-07-23T11:41:56.367Z"
        },
        {
          "file": "img/icons/plan-runa-1.png",
          "mtimeMs": 1595504438632.118,
          "ctimeMs": 1595504438636.1206,
          "date": "2020-07-23T11:41:56.874Z"
        },
        {
          "file": "img/icons/plan-runa-2.png",
          "mtimeMs": 1595504441428.0498,
          "ctimeMs": 1595504441429.0508,
          "date": "2020-07-23T11:41:57.493Z"
        },
        {
          "file": "img/images/anna.png",
          "mtimeMs": 1595504447352.6682,
          "ctimeMs": 1595504447353.6694,
          "date": "2020-07-23T11:41:58.379Z"
        },
        {
          "file": "img/images/info.png",
          "mtimeMs": 1595343955036.501,
          "ctimeMs": 1595431446499.4407,
          "date": "2020-07-23T08:27:57.093Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1595504506260.646,
          "ctimeMs": 1595504506296.6929,
          "date": "2020-07-23T11:41:59.945Z"
        },
        {
          "file": "img/images/main.png",
          "mtimeMs": 1595504455042.0947,
          "ctimeMs": 1595504455043.0957,
          "date": "2020-07-23T11:42:01.047Z"
        },
        {
          "file": "img/images/reasons-for.jpg",
          "mtimeMs": 1595504456785.885,
          "ctimeMs": 1595504456785.885,
          "date": "2020-07-23T11:42:01.972Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1595492666619.625,
          "ctimeMs": 1595492666619.625,
          "date": "2020-07-23T08:28:01.583Z"
        },
        {
          "file": "img/backs/decor-2.png",
          "mtimeMs": 1595504431360.051,
          "ctimeMs": 1595504431361.052,
          "date": "2020-07-23T11:41:53.932Z"
        },
        {
          "file": "bonus/index.html",
          "mtimeMs": 1595564347604.0508,
          "ctimeMs": 1595564347604.0508,
          "date": "2020-07-24T04:19:22.311Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1595563529306.9116,
          "ctimeMs": 1595563529306.9116,
          "date": "2020-07-24T04:19:22.804Z"
        },
        {
          "file": "css/bonus.min.css",
          "mtimeMs": 1595564215635.4612,
          "ctimeMs": 1595564215635.4612,
          "date": "2020-07-24T04:19:23.358Z"
        },
        {
          "file": "css/confirm-ie.min.css",
          "mtimeMs": 1583561610233.5906,
          "ctimeMs": 1584517207516.4712,
          "date": "2020-07-24T04:19:23.810Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1584517546358.985,
          "ctimeMs": 1584517546358.985,
          "date": "2020-07-24T04:19:24.382Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1595563468007.0737,
          "ctimeMs": 1595563468007.0737,
          "date": "2020-07-24T04:19:24.912Z"
        },
        {
          "file": "fonts/GilroyBlack.eot",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377166.671,
          "date": "2020-07-24T04:19:25.520Z"
        },
        {
          "file": "fonts/GilroyBlack.svg",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377151.0413,
          "date": "2020-07-24T04:19:26.245Z"
        },
        {
          "file": "fonts/GilroyBlack.ttf",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377151.0413,
          "date": "2020-07-24T04:19:26.817Z"
        },
        {
          "file": "fonts/GilroyBlack.woff",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377151.0413,
          "date": "2020-07-24T04:19:27.351Z"
        },
        {
          "file": "fonts/GilroyBlack.woff2",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377166.671,
          "date": "2020-07-24T04:19:27.873Z"
        },
        {
          "file": "fonts/GilroyMedium.eot",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-07-24T04:19:28.454Z"
        },
        {
          "file": "fonts/GilroyMedium.svg",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-07-24T04:19:29.196Z"
        },
        {
          "file": "fonts/GilroyMedium.ttf",
          "mtimeMs": 1583403342000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-07-24T04:19:29.837Z"
        },
        {
          "file": "fonts/GilroyMedium.woff",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-07-24T04:19:30.388Z"
        },
        {
          "file": "fonts/GilroyMedium.woff2",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389293.3877,
          "date": "2020-07-24T04:19:30.916Z"
        },
        {
          "file": "fonts/Muller.eot",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559339602.5742,
          "date": "2020-07-24T04:19:31.551Z"
        },
        {
          "file": "fonts/Muller.svg",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559351673.9968,
          "date": "2020-07-24T04:19:32.397Z"
        },
        {
          "file": "fonts/Muller.ttf",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559354312.333,
          "date": "2020-07-24T04:19:33.030Z"
        },
        {
          "file": "fonts/Muller.woff",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559357136.4053,
          "date": "2020-07-24T04:19:33.605Z"
        },
        {
          "file": "fonts/Muller.woff2",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559339604.576,
          "date": "2020-07-24T04:19:34.150Z"
        },
        {
          "file": "fonts/MullerBold.eot",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559317569.5266,
          "date": "2020-07-24T04:19:34.793Z"
        },
        {
          "file": "fonts/MullerBold.svg",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559323243.0266,
          "date": "2020-07-24T04:19:35.611Z"
        },
        {
          "file": "fonts/MullerBold.ttf",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559325075.4675,
          "date": "2020-07-24T04:19:36.270Z"
        },
        {
          "file": "fonts/MullerBold.woff",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559326653.0327,
          "date": "2020-07-24T04:19:36.841Z"
        },
        {
          "file": "fonts/MullerBold.woff2",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559317572.5288,
          "date": "2020-07-24T04:19:37.386Z"
        },
        {
          "file": "fonts/MullerItalic.eot",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559284970.7249,
          "date": "2020-07-24T04:19:37.989Z"
        },
        {
          "file": "fonts/MullerItalic.svg",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559293250.338,
          "date": "2020-07-24T04:19:38.772Z"
        },
        {
          "file": "fonts/MullerItalic.ttf",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559297450.0828,
          "date": "2020-07-24T04:19:39.391Z"
        },
        {
          "file": "fonts/MullerItalic.woff",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559301264.5098,
          "date": "2020-07-24T04:19:39.954Z"
        },
        {
          "file": "fonts/MullerItalic.woff2",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559284972.726,
          "date": "2020-07-24T04:19:40.569Z"
        },
        {
          "file": "img/confirm/confirm-img.png",
          "mtimeMs": 1583560678199.4304,
          "ctimeMs": 1583560678203.433,
          "date": "2020-07-24T04:19:41.224Z"
        },
        {
          "file": "img/confirm/confirm-logo.png",
          "mtimeMs": 1583560683802.152,
          "ctimeMs": 1583560683817.1619,
          "date": "2020-07-24T04:19:41.679Z"
        },
        {
          "file": "img/confirm/gmail.png",
          "mtimeMs": 1583560688781.459,
          "ctimeMs": 1583560688783.4607,
          "date": "2020-07-24T04:19:42.170Z"
        },
        {
          "file": "img/confirm/mailru.png",
          "mtimeMs": 1583560692773.1108,
          "ctimeMs": 1583560692776.113,
          "date": "2020-07-24T04:19:42.649Z"
        },
        {
          "file": "img/confirm/rambler.png",
          "mtimeMs": 1583560696989.911,
          "ctimeMs": 1583560696991.913,
          "date": "2020-07-24T04:19:43.114Z"
        },
        {
          "file": "img/confirm/title-bg.png",
          "mtimeMs": 1583560701842.1335,
          "ctimeMs": 1583560701844.1355,
          "date": "2020-07-24T04:19:43.655Z"
        },
        {
          "file": "img/confirm/yandex.png",
          "mtimeMs": 1583560706978.5457,
          "ctimeMs": 1583560706987.5527,
          "date": "2020-07-24T04:19:44.146Z"
        },
        {
          "file": "img/icons/flags.png",
          "mtimeMs": 1578323782889.2456,
          "ctimeMs": 1578323783046.7058,
          "date": "2020-07-24T04:19:44.725Z"
        },
        {
          "file": "img/icons/flags@2x.png",
          "mtimeMs": 1578323788520.2798,
          "ctimeMs": 1578323788614.3718,
          "date": "2020-07-24T04:19:45.426Z"
        },
        {
          "file": "js/confirm.min.js",
          "mtimeMs": 1583561573131.7773,
          "ctimeMs": 1583561573131.7773,
          "date": "2020-07-24T04:19:45.865Z"
        },
        {
          "file": "js/promo.min.js",
          "mtimeMs": 1595563486276.6956,
          "ctimeMs": 1595563486276.6956,
          "date": "2020-07-24T04:19:46.572Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1595564094567.682,
          "ctimeMs": 1595564094567.682,
          "date": "2020-07-24T04:19:47.026Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1595564108733.7214,
          "ctimeMs": 1595564108733.7214,
          "date": "2020-07-24T04:19:47.506Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/promo.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\promo.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/bonus.pug",
        "config": {
          "customOutput": "bonus\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/bonus.min.styl",
        "config": {
          "customOutput": "css\\bonus.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "_app/thanks.pug",
        "config": {
          "customOutput": "thanks\\index.html"
        }
      },
      {
        "file": "img/backs/decor-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 459330,
          "optimized": true
        }
      },
      {
        "file": "img/backs/last.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 799899,
          "optimized": true
        }
      },
      {
        "file": "img/backs/lets.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 25429,
          "optimized": true
        }
      },
      {
        "file": "img/backs/plan.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 368836
        }
      },
      {
        "file": "img/backs/rissons.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 3177403,
          "optimized": true
        }
      },
      {
        "file": "img/icons/plan-runa-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 2493,
          "optimized": true
        }
      },
      {
        "file": "img/icons/plan-runa-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 1818,
          "optimized": true
        }
      },
      {
        "file": "img/images/anna.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 402050,
          "optimized": true
        }
      },
      {
        "file": "img/images/info.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 35046
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 20200,
          "optimized": true
        }
      },
      {
        "file": "img/images/main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 537481,
          "optimized": true
        }
      },
      {
        "file": "img/images/reasons-for.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 55366,
          "optimized": true
        }
      }
    ]
  }
}
