header
	a(href="https://mastervision.su", target="_blank")
		img.header-logo(src=path+"img/images/logo.png", alt="Логотип")
	.contacts
		.contact.contact-tel Позвоните нам:
			a(href="callto:+7 (925) 604 22 24" target="_blank") +7 (925) 604 22 24
		.contact.contact-skype.hide Skype:
			a(href="https://join.skype.com/invite/gkwrZmJPOtuf" target="_blank") support-mastervision
		.contact.contact-email Почта:
			a(href="mailto:info@mv-centr.ru" target="_blank") info@mv-centr.ru