@import 'base/0.fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/intlTelInput.min.css'

@import 'base/0.base'

@import 'base/0.header'
@import 'promo/1.main'
@import 'base/0.footer'
@import 'promo/2.medias'