@import 'base/0.fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'

@import 'base/0.base'

@import 'base/0.header'
@import 'main/1.main'
@import 'main/2.video'
@import 'main/3.reasons-n-for'
@import 'main/4.plan'
@import 'main/5.lets'
@import 'main/6.author'
@import 'main/7.last'
@import 'main/8.modal'
@import 'base/0.footer'
@import 'main/9.medias'