-var path = '../';
-var head_title = 'Вы зарегистрированы на мастер-класс «Мантика, руны и силы природы»';
-var styles = '../css/promo.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'
-var footer_title = true
	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		section#main
			.container
				include pug/base/header
				h1.main-title Вы зарегистрированы на мастер-класс 
					span «Мантика, руны и силы природы»
				a.button.button-thanks(href='https://drive.google.com/file/d/1utwSn4h4U7SGskbUgPyihMxwM4n91H05/view?usp=sharing' target="_blank") Скачать тетради
		include pug/base/footer
		include pug/scripts/body_bottom_scripts