.decorated-wrapper-2
	background-image url(../img/backs/decor-2.png)
	background-repeat no-repeat
	background-position: center
	background-size: 100% 60%
#plan
	padding 45px 0
	background-image url(../img/backs/plan.png)
	background-repeat no-repeat
	background-position: center
	.container
		position relative
.plan-img
	position absolute
	&-1
		top -60px
		left -100px
	&-2
		top -60px
		right -70px
		z-index 20
.day
	padding 30px
	box-shadow: 0px 0px 21.6px 2.4px rgba(108, 14, 95, 0.11);
	width 100%
	max-width: 480px;
	margin 0 auto
	background-color #fff
	&-title
		font-size: 20px
		font-family: Mk
		font-weight: 900
		text-transform uppercase
	&-list
		list-style none
		margin 25px 0
	&-bonus
		span
			display block
			font-size: 20px
			font-family: Mk
			font-weight: 900
			color mP
			text-transform uppercase
.button-plan
	margin-top: 40px