#lets
	padding 45px 0
.let-item
	padding 25px
	text-align center
	display flex
	align-items: center
	justify-content: center
	width 100%
	max-width 380px
	margin 0 auto 40px
	background-color: #DCDCDC
	background-image url(../img/backs/lets.png)
	background-repeat no-repeat
	box-shadow: 0 0 10px 4px rgba(#6c0e5f,.11)
	min-height 249px