#author
	padding 45px 0
	overflow hidden
.author-list
	li
		list-style: none
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
.author-img
	position relative
	padding-top: 100%
	img
		position absolute
		width 700px
		// max-width 700px
		display block
		margin 0 auto
		top -45px
		left 0