@media screen and (min-width 1900px)
	.decorated-wrapper-1:before
		background-size: cover
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.input-mail-main
		max-width 360px
	.button-form-main
		max-width 300px
@media screen and (max-width 1199px)
	.main-subtitle
		font-size: 22px
		margin 20px 0
	.form-main
		width 100%
		max-width 350px
	.input-mail-main
		display block
		float: none
		max-width 350px
		margin-bottom: 10px
	.button-form-main
		float: none
		max-width 350px
	.checking .check-label
		line-height: 18px
	#plan
		overflow hidden
	.plan-img
		top -45px
	.let-item
		min-height 303px
@media screen and (max-width 991px)
	#main
		text-align center
		padding-bottom: 40px
	.form-main
		margin 0 auto
	.main-info
		width 100%
		max-width 350px
		margin 30px auto
		&:after
			content: none
	.main-img
		padding 0
		img
			position: static
			display block
			margin 0 auto
			width 100%
	.video-wrapper-video
		margin-top: 30px
	.rnf-img
		max-width 300px
		margin: 30px auto
	.day
		margin-bottom: 30px
	.let-item
		min-height 1px
	.author-img
		padding 0
		img
			width 100%
			position: static
			display block
			margin 0 auto 30px
	.last-title
		font-size: 36px
		line-height: 1.1
	.last-text
		font-size: 22px
// @media screen and (max-width 767px)
// 	.header-logo
// 		float: none
// 		display block
// 		margin 0 auto 5px
// 	.contacts
// 		float: none
// 		text-align center
// 		line-height: 1
// 	.contact
// 		display inline-block
// 		line-height: 1
// 		text-align center
@media screen and (max-width 560px)
	header
		margin-bottom: 30px
		padding 10px 0
	.header-logo
		width 70px
		margin-bottom: 0
	.contacts
		line-height: 1
	.contact
		font-size: 12px
		// margin-top: 5px
		line-height: 1
		a
			font-size: 12px
	.main-title
		font-size: 30px
	.main-subtitle
		font-size: 20px
		margin 10px 0 20px
	#main
		padding-bottom: 20px
	.general-title
		font-size: 26px
		margin-bottom: 25px
	.video-text:last-of-type
		margin 10px 0 5px
	#reasons-n-for
		padding 0
	.form-title
		font-size: 24px
		margin-bottom: 20px
		line-height: 1.1
	.plan-img-2
		position: static
		display block
		margin 40px auto 0
		width 100px
	#lets
		padding 0 0 20px
	#last
		padding 50px 0
	.last-title
		font-size: 28px
	.last-text
		font-size: 18px
	footer
		padding 15px 0
		font-size: 12px
	.fancybox-content
		padding 20px
@media screen and (max-width 385px)
	header
		margin-bottom: 10px
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		float: none
		text-align center
	.contact
		text-align center
		display inline-block
		&-tel
			margin 0 10px 0 0
	.main-title
		font-size: 26px
	.main-subtitle
		font-size: 18px
	.main-info
	.let-item
		padding 15px
	.general-title
		font-size: 24px
		margin-bottom: 20px
		line-height: 1.1
	.day
		padding 20px
	.day-list
		margin 15px 0
	.button-plan
		margin-top: 20px
	#last
		padding 40px 0
	.last-title
		font-size: 26px
	.last-text
		font-size: 16px
		margin 10px 0 15px