mP = #6c0e5f
M = 'MontserratRegular', sans-serif;
Md = 'MontserratBold', sans-serif;
Mk = 'MontserratBlack', sans-serif;
G = 'Gilroy', sans-serif;
Gd = 'GilroyBold', sans-serif;

@font-face {
	font-family: 'MontserratBlack';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/MontserratBlack.eot');
	src: local url('../fonts/MontserratBlack.eot');
	src: url('../fonts/MontserratBlack.eot') format('embedded-opentype'),
		 url('../fonts/MontserratBlack.woff2') format('woff2'),
		 url('../fonts/MontserratBlack.woff') format('woff'),
		 url('../fonts/MontserratBlack.ttf') format('truetype'),
		 url('../fonts/MontserratBlack.svg#MontserratBlack') format('svg');
}
@font-face {
	font-family: 'MontserratBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/MontserratBold.eot');
	src: local url('../fonts/MontserratBold.eot');
	src: url('../fonts/MontserratBold.eot') format('embedded-opentype'),
		 url('../fonts/MontserratBold.woff2') format('woff2'),
		 url('../fonts/MontserratBold.woff') format('woff'),
		 url('../fonts/MontserratBold.ttf') format('truetype'),
		 url('../fonts/MontserratBold.svg#MontserratBold') format('svg');
}
@font-face {
	font-family: 'MontserratRegular';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/MontserratRegular.eot');
	src: local url('../fonts/MontserratRegular.eot');
	src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'),
		 url('../fonts/MontserratRegular.woff2') format('woff2'),
		 url('../fonts/MontserratRegular.woff') format('woff'),
		 url('../fonts/MontserratRegular.ttf') format('truetype'),
		 url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}
@font-face {
	font-family: 'Gilroy';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Gilroy.eot');
	src: local url('../fonts/Gilroy.eot');
	src: url('../fonts/Gilroy.eot') format('embedded-opentype'),
		 url('../fonts/Gilroy.woff2') format('woff2'),
		 url('../fonts/Gilroy.woff') format('woff'),
		 url('../fonts/Gilroy.ttf') format('truetype'),
		 url('../fonts/Gilroy.svg#Gilroy') format('svg');
}
@font-face {
	font-family: 'GilroyBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/GilroyBold.eot');
	src: local url('../fonts/GilroyBold.eot');
	src: url('../fonts/GilroyBold.eot') format('embedded-opentype'),
		 url('../fonts/GilroyBold.woff2') format('woff2'),
		 url('../fonts/GilroyBold.woff') format('woff'),
		 url('../fonts/GilroyBold.ttf') format('truetype'),
		 url('../fonts/GilroyBold.svg#GilroyBold') format('svg');
}