header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
.header-logo
	float left
.contacts
	float: right
	line-height: 42px
.contact
	text-align left
	font-size: 14px
	font-family: Gd
	font-weight: bold
	color #8a8a8c
	display inline-block
	line-height: 1.2
	text-transform uppercase
	&-skype
		margin 0 20px
	a
		display block
		color #000
		font-size: 16px
		font-family: G
		font-weight: normal
		text-transform none
		&:focus
			text-decoration none
			color #000
		&:hover
			text-decoration underline
			color #000