section#video
	.container
		.row
			.col-md-6.col-md-push-6
				+gt('','Посмотрите видео')
				p.video-text Это настоящий кладезь и уникальный микс инструментов, которые помогут Вам повысить качество жизни и вывести на новый социальный уровень
				p.video-text Он включает:
				ul.video-list
					li - мантику – масонские знания, позволяющие обрести достаток и накопить финансовый буфер;
					li - руны – скандинавские древние символы для улучшения жизни;
					li - травы – наши родные древнеславянские традиции сбора, хранения и использования растений и масел для гармонизации любой сферы жизни
			.col-md-6.col-md-pull-6
				.video-wrapper.video-wrapper-video
					iframe(src="https://youtube.com/embed/?autoplay=1&mute=1&modestbranding=1" allowfullscreen)