section#reasons-n-for
	.container
		.row
			.col-md-4
				+gt('','5 причин посетить этот мастер-класс')
				ul.rnf-list
					li Это неповторимое сочетание и объединение различных взаимодополняющих техник и практик для счастливой и гармоничной жизни
					li Представленные техники помогают быстро адаптироваться к постоянно меняющемуся миру. 
					li Самые древние знания представлены в понятном и доступном формате, адаптированном под современные реалии
					li Эффективность авторских техник подтверждена 11-летней практикой – они были многократно проверены как на учениках, так и на своей жизни
					li Посещение мастер-классов – это время, проведённое с максимальной пользой, так как в них полностью отсутствует бесполезная информация («вода»)
			.col-md-4
				img(src=path+"img/images/reasons-for.jpg", alt="Изображение блока").rnf-img
			.col-md-4
				+gt('','Этот мастер-класс будет полезен тем, кто:')
				ul.rnf-list
					li Хочет хорошо и комфортно прожить свою жизнь без сожалений и разочарований;
					li Не знает, как и в какой сфере себя реализовать;
					li Успел открыть собственный бизнес или построил карьеру, но всё равно не удовлетворён текущим уровнем дохода;
					li Ищет идеальное направление для личностного развития;
					li Мечтает построить счастливую личную жизнь;
					li Стремится вылезти из долговой ямы и больше никогда в неё не проваливаться;
					li Спит и видит, как все его желания исполняются, но не может достичь этого в реальности;
					li Хочет начать путешествовать или часто отдыхать и при этом иметь постоянно растущий доход; 
					li Обладает большим объёмом знаний, хочет превратить их в реальные деньги, но до сих пор не преуспел в этом
		+b('button-rnf',href,'Мне нужны перемены')