section#plan
	.container
		+gt('','Программа мастер-класса')
		.row
			.col-md-4.col-sm-4
				.day.day-1
					h4.day-title День первый
					ul.day-list
						li - Что такое мантика и откуда она к нам пришла
						li - Истоки скандинавских рун
						li - Травоведение и опыт древних славян по использованию трав
						li - Презентация инструментов и техник, используемых масонами, рунологами и травоведами
						li - Применение на практике
					p.day-bonus
						span Бонус
						| создание рунической формулы на мешочке с травами для прихода новых денег
			.col-md-4.col-sm-4
				.day.day-2
					h4.day-title День второй
					ul.day-list
						li - Мантика и деньги: способы накопления
						li -Руны и финансы: применение на практике
						li -Травы и их влияние на финансовую сторону жизни
					p.day-bonus
						span Бонус
						| практика запоминания от Ильи Исакова
			.col-md-4.col-sm-4
				.day.day-3
					h4.day-title День третий
					ul.day-list
						li - Масонские знания для привлечения удачи
						li - Рунические техники для обретения счастья
						li - Травы и их возможности по гармонизации жизни
					p.day-bonus
						span Бонус
						| создание личного талисмана на однодолларовой купюре по технике масонов
		+b('button-plan',href,'Иду на мастер класс')