mixin let(cl,p)
	.col-md-4.col-sm-4
		.let-item(class='let-item-'+cl)
			p.let-item-text=p

section#lets
	.container
		+gt('','Мастер-класс  позволит Вам:')
		.row
			+let('1','Узнать, какие монеты и купюры можно использовать для накопления и быстрого увеличения капитала, а какие категорически нельзя хранить во избежание утечек и излишних трат')
			+let('2','Научиться привлекать в свою жизнь финансы, увеличивая финансовый поток. Монетизировать ранее накопленные знания')
			+let('3','Начать безошибочно разбираться в людях. Привлечь в свою жизнь счастье и гармонию и больше никогда их не упускать')
		.row
			+let('4','Стать более лёгким на подъём и адаптивным к стремительно меняющимся условиями современного мира. Создать личный талисман для привлечения денег из однодолларовой купюры')
			+let('5','Использовать полученные на мастер-классе знания не только для нормализации своей жизни, но и в качестве дополнительного инструмента для работы с клиентами')
			+let('6','Сменить надоевшую профессию на более перспективную и стать успешным консультантом по решению вопросов в любой жизненной сфере')
		+b('button-lets',href,'Мне это необходимо')