section#author
	.container
		.row
			.col-md-5.col-sm-5
				+gt('','Анна Скуцкая')
				ul.author-list
					li Практикующий рунолог со стажем 14 лет и преподаватель рунических знаний
					li За 2 года ведения курсов по рунам обучила и выпустила более 1000 студентов
					li Потомственная травница и мастер по работе с травами с 10-летним опытом
					li Увлекается астрологией, мантикой и постоянно находится в поиске новых инструментов, которые помогут достичь желаемого в короткие сроки
					li Консультант бизнесменов и стартапов
			.col-md-7.col-sm-7
				.author-img
					img(src=path+"img/images/anna.png", alt="Анна Скуцкая")